.topline {
  background-color: grey;
}
.bio{
    background-color: paleturquoise;
}
.mainzone{
    background-color: gold;
}
.icon{
    background-color: goldenrod;
    color: red;
    width: 50rem;
}
