body{
    background-color: gold;
    margin: 0%;
    padding-bottom: 5rem;
    inline-size: auto;
}
link {
    color: black;
    text-decoration: none;
}
.topline {
    background-color: rgb(255, 255, 255);
}
.bio {

    background-color: paleturquoise;
    padding: 2rem;
}
.mainzone {

    background-color: gold;
    padding: 2rem;
}
.icon {
    background-color: goldenrod;
    color: black;
    padding: 2rem;
}
