body{
    background-color: gold;
    margin: 0%;
    padding: 2rem;
    padding-bottom: 5rem;
    inline-size: auto;
}
link {
    color: black;
    text-decoration: none;
}
.topline {
    background-color: gray;
}
.bio {

    background-color: paleturquoise;

}
.mainzone {

    background-color: gold;

}
.icon {
    background-color: goldenrod;
    color: black;

}
